# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: build-branch
on:
  - push
  - pull_request
jobs:
  build:
    name: compile
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        java: [ 8, 11 ]
      fail-fast: false
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Cache for maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
          restore-keys: |
            maven-repo-${{ hashFiles('**/pom.xml') }}
            maven-repo-
      - name: Delete temporary build artifacts
        run: rm -rf ~/.m2/repository/org/apache/ratis
        if: always()
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Run a full build
        run: ./dev-support/checks/build.sh
  rat:
    name: rat
    runs-on: ubuntu-18.04
    steps:
        - uses: actions/checkout@master
        - name: Cache for maven dependencies
          uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
            restore-keys: |
              maven-repo-${{ hashFiles('**/pom.xml') }}
              maven-repo-
        - name: Delete temporary build artifacts
          run: rm -rf ~/.m2/repository/org/apache/ratis
          if: always()
        - run: ./dev-support/checks/rat.sh
        - uses: actions/upload-artifact@master
          if: always()
          with:
            name: rat
            path: target/rat
  author:
    name: author
    runs-on: ubuntu-18.04
    steps:
        - uses: actions/checkout@master
        - run: ./dev-support/checks/author.sh
        - uses: actions/upload-artifact@master
          if: always()
          with:
            name: author
            path: target/author
  unit:
    name: unit
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        profile:
          - grpc
          - server
          - misc
    steps:
        - uses: actions/checkout@master
        - name: Cache for maven dependencies
          uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
            restore-keys: |
              maven-repo-${{ hashFiles('**/pom.xml') }}
              maven-repo-
        - name: Delete temporary build artifacts
          run: rm -rf ~/.m2/repository/org/apache/ratis
          if: always()
        - run: ./dev-support/checks/unit.sh -P${{ matrix.profile }}-tests
        - name: Summary of failures
          run: cat target/unit/summary.txt
          if: ${{ !cancelled() }}
        - uses: actions/upload-artifact@master
          if: ${{ !cancelled() }}
          with:
            name: unit-${{ matrix.profile }}
            path: target/unit
  coverity:
    name: coverity
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        profile:
          - grpc
          - server
          - misc
    steps:
      - uses: actions/checkout@master
      - name: Cache for maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
          restore-keys: |
            maven-repo-${{ hashFiles('**/pom.xml') }}
            maven-repo-
      - name: Delete temporary build artifacts
        run: rm -rf ~/.m2/repository/org/apache/ratis
        if: always()
      - run: >-
          ./dev-support/checks/unit.sh -P${{ matrix.profile }}-tests
          -Djacoco.skip=false
          -Dsurefire.rerunFailingTestsCount=3
      - name: Merge JaCoCo results
        run: mvn -DskipTests -Djacoco.skip=false verify
      - name: Copy JaCoCo XML report to artifacts
        run: cp ./ratis-coverage/target/site/jacoco-aggregate/jacoco.xml ./target/unit
      - name: Summary of failures
        run: cat target/unit/summary.txt
        if: ${{ !cancelled() }}
      - uses: actions/upload-artifact@master
        if: ${{ !cancelled() }}
        with:
          name: coverity-${{ matrix.profile }}
          path: target/unit
  checkstyle:
    name: checkstyle
    runs-on: ubuntu-18.04
    steps:
        - uses: actions/checkout@master
        - name: Cache for maven dependencies
          uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
            restore-keys: |
              maven-repo-${{ hashFiles('**/pom.xml') }}
              maven-repo-
        - name: Delete temporary build artifacts
          run: rm -rf ~/.m2/repository/org/apache/ratis
          if: always()
        - run: ./dev-support/checks/checkstyle.sh
        - uses: actions/upload-artifact@master
          if: always()
          with:
            name: checkstyle
            path: target/checkstyle
  findbugs:
    name: findbugs
    runs-on: ubuntu-18.04
    steps:
        - uses: actions/checkout@master
        - name: Cache for maven dependencies
          uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
            restore-keys: |
              maven-repo-${{ hashFiles('**/pom.xml') }}
              maven-repo-
        - name: Delete temporary build artifacts
          run: rm -rf ~/.m2/repository/org/apache/ratis
          if: always()
        - run: ./dev-support/checks/findbugs.sh
        - uses: actions/upload-artifact@master
          if: always()
          with:
            name: findbugs
            path: target/findbugs
  sonar:
    name: sonar
    runs-on: ubuntu-18.04
    needs: [coverity]
    if: github.repository == 'apache/incubator-ratis' && github.event_name != 'pull_request'
    steps:
        - uses: actions/checkout@v2
          with:
            fetch-depth: 0
        - name: Cache for maven dependencies
          uses: actions/cache@v2
          with:
            path: ~/.m2/repository
            key: maven-repo-${{ hashFiles('**/pom.xml') }}-${{ github.job }}
            restore-keys: |
              maven-repo-${{ hashFiles('**/pom.xml') }}
              maven-repo-
        - name: Delete temporary build artifacts
          run: rm -rf ~/.m2/repository/org/apache/ratis
        - name: Download test artifacts for coverity analysis
          uses: actions/download-artifact@v2
          if: always()
        - name: Setup java 11
          uses: actions/setup-java@v1
          with:
            java-version: 11
        - run: ./dev-support/checks/sonar.sh
          env:
            SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
